<div class="main_container">
    <button class="back_button" routerLink="" >back</button>
    <div class="city_info">
            <h1 class="day">{{today}} (today)
                    
            </h1>


        <div class="o_name">
            City:
            <div class="o_place">
                    <a href="https://en.wikipedia.org/wiki/{{city}}">{{city}} </a>
            </div>
        </div>

        <div class="o_name">
            Temp:
            <div class="o_place">
                {{temp}}°
        </div>
        </div>

        <div class="o_name">
            Condition:
            <div class="o_place">
                    {{state}}
            </div>
        </div>

        <div class="o_name">
            Wind speed:
            <div class="o_place">
                    {{wind}} km/h
            </div>
        </div>
        <div class="o_name">
            Hum:
            <div class="o_place">
                    {{hum}} % 
            </div>
        </div>
        
        
        

    </div>
    <div class="days_info">
        <div class="day_card">
            <h1 class="day">
                {{day1Name}}
            </h1>
            <div class="o_name">
                Temp:
                <div class="o_place">
                    {{day1Temp}}°
                </div>
            </div>
            <div class="o_name">
                Condition:
                <div class="o_place">
                    {{day1State}} 
                </div>
            </div>
        </div>
        <div class="day_card">
                <h1 class="day">
                    {{day2Name}}
                </h1>
                <div class="o_name">
                    Temp:
                    <div class="o_place">
                        {{day2Temp}}°
                    </div>
                </div>
                <div class="o_name">
                    Condition:
                    <div class="o_place">
                        {{day2State}} 
                    </div>
                </div>
        </div>
        <div class="day_card">
                <h1 class="day">
                    {{day3Name}}
                </h1>
                <div class="o_name">
                    Temp:
                    <div class="o_place">
                        {{day3Temp}}°
                    </div>
                </div>
                <div class="o_name">
                    Condition:
                    <div class="o_place">
                        {{day3State}} 
                    </div>
                </div>
        </div>
        <div class="day_card">
                <h1 class="day">
                    {{day4Name}}
                </h1>
                <div class="o_name">
                    Temp:
                    <div class="o_place">
                        {{day4Temp}}°
                    </div>
                </div>
                <div class="o_name">
                    Condition:
                    <div class="o_place">
                        {{day4State}} 
                    </div>
                </div>
        </div>
        
            

                



        
    </div>
        <p class="second_text">hey, you can click on the name of the city and read about it in wikipedia </p>


            


     
    
</div>
